body {
  margin: 0;
  padding: 0;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-style: solid;
  border-color: #222;
  background: #000;
}

#facebn {
  float: left;
  border-style: solid;
  border-color: #222;
  background-image: url("../img/sprite200.gif");
}

#game {
  float: left;
  border-right-style: solid;
  border-bottom-style: solid;
  border-right-color: #111;
  border-bottom-color: #111;
}

.digit-box {
  float: left;
  border: 2px solid #222;
}

.digit {
  float: left;
  width: 26px;
  height: 46px;
  background-image: url("../img/sprite200.gif");
}

.square {
  float: left;
  width: 32px;
  height: 32px;
  background-image: url("../img/sprite200.gif");
}

.digit0 {
  background-position: 0 0;
}

.digit1 {
  background-position: -26px 0;
}

.digit2 {
  background-position: -52px 0;
}

.digit3 {
  background-position: -78px 0;
}

.digit4 {
  background-position: -104px 0;
}

.digit5 {
  background-position: -130px 0;
}

.digit6 {
  background-position: -156px 0;
}

.digit7 {
  background-position: -182px 0;
}

.digit8 {
  background-position: -208px 0;
}

.digit9 {
  background-position: -234px 0;
}

.digitn {
  background-position: -260px 0;
}

.open1 {
  background-position: 0px -46px;
}

.open2 {
  background-position: -32px -46px;
}

.open3 {
  background-position: -64px -46px;
}

.open4 {
  background-position: -96px -46px;
}

.open5 {
  background-position: -128px -46px;
}

.open6 {
  background-position: -160px -46px;
}

.open7 {
  background-position: -192px -46px;
}

.open8 {
  background-position: -224px -46px;
}

.xopen1 {
  background-position: 0px -78px;
}

.xopen2 {
  background-position: -32px -78px;
}

.xopen3 {
  background-position: -64px -78px;
}

.xopen4 {
  background-position: -96px -78px;
}

.xopen5 {
  background-position: -128px -78px;
}

.xopen6 {
  background-position: -160px -78px;
}

.xopen7 {
  background-position: -192px -78px;
}

.xopen8 {
  background-position: -224px -78px;
}

.sopen1 {
  background-position: 0px -110px;
}

.sopen2 {
  background-position: -32px -110px;
}

.sopen3 {
  background-position: -64px -110px;
}

.sopen4 {
  background-position: -96px -110px;
}

.sopen5 {
  background-position: -128px -110px;
}

.sopen6 {
  background-position: -160px -110px;
}

.sopen7 {
  background-position: -192px -110px;
}

.sopen8 {
  background-position: -224px -110px;
}

.open0 {
  background-position: 0 -142px;
}

.blank {
  background-position: -32px -142px;
}

.bomb0 {
  background-position: -64px -142px;
}

.bomb1 {
  background-position: -96px -142px;
}

.bomb2 {
  background-position: -128px -142px;
}

.bomb3 {
  background-position: -160px -142px;
}

.bomb4 {
  background-position: -192px -142px;
}

.bomb5 {
  background-position: -224px -142px;
}

.bomb6 {
  background-position: -256px -142px;
}

.bomb7 {
  background-position: -288px -142px;
}

.face0 {
  background-position: 0 -174px;
}

.face1 {
  background-position: -52px -174px;
}

.face2 {
  background-position: -104px -174px;
}

.face3 {
  background-position: -156px -174px;
}

.face4 {
  background-position: -208px -174px;
}
