body {
  margin: 0;
  padding: 0;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 10px;
  border: 1px solid #222;
  background: #000;
}

#facebn {
  float: left;
  margin-bottom: 10px;
  width: 26px;
  height: 26px;
  border: 1px solid #222;
  background-image: url("../img/sprite.gif");
}

#game {
  float: left;
  border-right: 1px solid #111;
  border-bottom: 1px solid #111;
}

.digit-box {
  float: left;
  border: 1px solid #222;
}

.digit {
  float: left;
  width: 13px;
  height: 23px;
  background-image: url("../img/sprite.gif");
}

.square {
  float: left;
  width: 16px;
  height: 16px;
  background-image: url("../img/sprite.gif");
}

.digit0 {
  background-position: 0 0;
}

.digit1 {
  background-position: -13px 0;
}

.digit2 {
  background-position: -26px 0;
}

.digit3 {
  background-position: -39px 0;
}

.digit4 {
  background-position: -52px 0;
}

.digit5 {
  background-position: -65px 0;
}

.digit6 {
  background-position: -78px 0;
}

.digit7 {
  background-position: -91px 0;
}

.digit8 {
  background-position: -104px 0;
}

.digit9 {
  background-position: -117px 0;
}

.digitn {
  background-position: -130px 0;
}

.open0 {
  background-position: 0 -23px;
}

.open1 {
  background-position: -16px -23px;
}

.open2 {
  background-position: -32px -23px;
}

.open3 {
  background-position: -48px -23px;
}

.open4 {
  background-position: -64px -23px;
}

.open5 {
  background-position: -80px -23px;
}

.open6 {
  background-position: -96px -23px;
}

.open7 {
  background-position: -112px -23px;
}

.open8 {
  background-position: -128px -23px;
}

.xopen0 {
  background-position: 0 -39px;
}

.xopen1 {
  background-position: -16px -39px;
}

.xopen2 {
  background-position: -32px -39px;
}

.xopen3 {
  background-position: -48px -39px;
}

.xopen4 {
  background-position: -64px -39px;
}

.xopen5 {
  background-position: -80px -39px;
}

.xopen6 {
  background-position: -96px -39px;
}

.xopen7 {
  background-position: -112px -39px;
}

.xopen8 {
  background-position: -128px -39px;
}

.sopen0 {
  background-position: 0 -55px;
}

.sopen1 {
  background-position: -16px -55px;
}

.sopen2 {
  background-position: -32px -55px;
}

.sopen3 {
  background-position: -48px -55px;
}

.sopen4 {
  background-position: -64px -55px;
}

.sopen5 {
  background-position: -80px -55px;
}

.sopen6 {
  background-position: -96px -55px;
}

.sopen7 {
  background-position: -112px -55px;
}

.sopen8 {
  background-position: -128px -55px;
}

.blank {
  background-position: 0 -71px;
}

.bomb0 {
  background-position: -16px -71px;
}

.bomb1 {
  background-position: -32px -71px;
}

.bomb2 {
  background-position: -48px -71px;
}

.bomb3 {
  background-position: -64px -71px;
}

.bomb4 {
  background-position: -80px -71px;
}

.bomb5 {
  background-position: -96px -71px;
}

.bomb6 {
  background-position: -112px -71px;
}

.bomb7 {
  background-position: -128px -71px;
}

.face0 {
  background-position: 0 -87px;
}

.face1 {
  background-position: -26px -87px;
}

.face2 {
  background-position: -52px -87px;
}

.face3 {
  background-position: -78px -87px;
}

.face4 {
  background-position: -104px -87px;
}
