html {
  background-color: #000;
}

#container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  border: 1px solid #222;
}

#reset {
  float: left;
  height: 26px;
  width: 26px;
  margin-bottom: 10px;
  border: 1px solid #222;
}

#game {
  float: left;
  border-bottom: 1px solid #111;
  border-right: 1px solid #111;
}

.digit-box {
  float: left;
  border: 1px solid #222;
}

.digit {
  float: left;
  height: 23px;
  width: 13px;
}

.square {
  float: left;
  width: 16px;
  height: 16px;
  background-image: url("sprite.gif");
}

.open0 {
  background-position: 0 0;
}

.open1 {
  background-position: -16px 0;
}

.open2 {
  background-position: -32px 0;
}

.open3 {
  background-position: -48px 0;
}

.open4 {
  background-position: -64px 0;
}

.open5 {
  background-position: -80px 0;
}

.open6 {
  background-position: -96px 0;
}

.open7 {
  background-position: -112px 0;
}

.open8 {
  background-position: -128px 0;
}

.blank {
  background-position: 0 -16px;
}

.bombflagged {
  background-position: -16px -16px;
}

.bombdeath {
  background-position: -32px -16px;
}

.bombmisflaged {
  background-position: -48px -16px;
}

.bombrevealed {
  background-position: -64px -16px;
}